<mat-card>
  <mat-card-content
    fxFill
    fxLayout.md="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
  >
    <mat-form-field class="search-input" fxFlex="20" appearance="fill">
      <mat-label>Keyword</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="search-input" fxFlex="15" appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number" />
    </mat-form-field>

    <mat-form-field class="search-input" fxFlex="15" appearance="fill">
      <mat-label>Download Speed</mat-label>
      <input matInput type="number" />
    </mat-form-field>

    <mat-form-field class="search-input" fxFlex="15" appearance="fill">
      <mat-label>Upload Speed</mat-label>
      <input matInput type="number" />
    </mat-form-field>

    <button mat-stroked-button color="primary" aria-label="Search">
      <span fxHide.sm fxHide.xs fxShow.md>Search</span>
      <mat-icon>search</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
